<nav class="navbar navbar-dark bg-dark p-4">
  
    <a href="/" class="navbar-brand">Kou Building Materials</a>
    
      <ul class="nav justify-content-end gap-3" >
        <div class="nav-item">
          <button class="btn btn-outline-secondary">
            <a class="nav-link text-white" aria-current="page" href="/">About</a>
          </button>
        </div>

        <div class="nav-item">
          <button class="btn btn-outline-secondary">
            <a class="nav-link text-white" aria-current="page" href="/items">Shop</a>
          </button>
        </div>

        <div class="nav-item">
          <button class="btn btn-outline-secondary">
            <a class="nav-link text-white" href="/categories">Category</a>
          </button>
        </div>

      </ul>
  
</nav>